* {

}

.main-content-ctr {
    width: 100vw;
    height: 100vh;
}

.main-content {
    min-height: 100%;
    height: fit-content;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-unit {
    background-color: white;
    padding: 20px;
    width: 60vw;
    margin-top: 50px;
    position: relative;
}


.info-unit:nth-child(even) {
    align-self: flex-end;
}

.info-unit:nth-child(even)::after {
    content: '';
    width: 5px;
    height: 100px;
    background-color: #FFF;
    position: absolute;
    left: 50px;
    bottom: -75px;
    z-index:-10
}

.info-unit:nth-child(odd)::after {
    content: '';
    width: 5px;
    height: 100px;
    background-color: #FFF;
    position: absolute;
    right: 50px;
    bottom: -75px;
    z-index:-10
}

.info-unit:last-child::after {
    width: 0;
    height: 0;
}

.info-unit.mission-info {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.info-unit.mission-info>.inner-ctr {
    z-index: 1;
    display: flex;
}

.info-unit.mission-info>.inner-ctr>div.img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-unit.mission-info>.inner-ctr>div.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-unit.mission-info::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(167 196 211 / 30%);
    border-radius: 50% 10% 0 0;
}

.info-unit>.stats-ctr {
    
}

.info-unit>.stats-ctr>table {
    width: 100%;
    color: #BA1200;
    font-weight: bold;
}

.info-unit>.stats-ctr>table>tbody>tr {
    background-color: rgb(167 196 211 / 30%);
    margin: 5px;    
}

.info-unit>.stats-ctr>table>tbody>tr>td {
    padding: 10px;    
}

.info-unit>.stats-ctr>table>tbody>tr>td:last-child {
    padding: 5px; 
    text-align: center;   
}

.info-unit>.stats-ctr>h1 {
    margin-bottom: 20px;
}

.info-unit>.stats-ctr>h1 {
    margin-bottom: 20px;
}

.reddit {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.reddit::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(167 196 211 / 30%);
    border-radius: 50% 10% 0 0;
}

.reddit>div {
    z-index:1;
}

.reddit>div>h1{
    text-align: center;
}

.reddit>div>div>h2 {
    text-transform: capitalize;
}

.reddit>div>div>a {
    text-decoration: none;
    color: inherit;
    margin:20px;
}

.reddit>div>div>a>h3 {
    padding: 10px 20px;
    background-color: #BA1200;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
    text-align: center;
}

.reddit>div>h1 {
    width: 100%;
    margin: 0 0 0 auto;
}


.reddit-icon {
    width: 100%;
    height: 100%;
    font-size: 100px;
    margin-left: auto;
    text-align: right;
    justify-self: flex-end;
}


@media screen and (max-width: 700px){

    .info-unit {
        width: 100%;
    }

    .info-unit.mission-info>.inner-ctr {
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        position: relative;
    }

    .info-unit.mission-info>.inner-ctr>.img-wrapper {
        margin-bottom: 20px;
    }

    .info-unit.mission-info>.inner-ctr>.img-wrapper>img {
        width: 50%;
    }

}

@media screen and (min-width: 1200px){

    .main-content {
        min-height: 100%;
        height: fit-content;
        padding: 100px 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

}